/* REGOLE GENERALI -----------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.float-left {
  float: left;
}

/* Font */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

/* Contenitore principale */
#container {
  height: 100vh;
  width: 100vw;
}
/* Contenitore main page */
#main-page {
  height: calc(100% - 90px);
  width: 100%;
}
/* Nav-bar sx */
#nav-bar {
  height: 100%;
  width: 15%;
  background-color: rgba(0,0,0,.9);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 24px;
}
/* Main view container */
#main-view {
  height: 100%;
  width: 85%;
  padding: 35px;
  overflow: auto;
  background-image: linear-gradient(to right bottom, rgb(58, 91, 95), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
}
/* Playing-bar */
#playing-bar {
  height: 90px;
  width: 100%;
  background-color: #282828;
  border-top: solid 1px rgba(0,0,0,.8);
}

/* REGOLE SPECIFICHE ---------------------------------------------------------*/

/* Nav-bar sx ----------------------------------------------------------------*/
.nav-header{
  display: flex;
  justify-content: space-around;
  width: 131px;
}
.nav-sx {
  margin-left: -24px;
}
.nav-sx ul {
  list-style: none;
}
.nav-sx li {
  display: block;
  padding: 10px 0;
}
.nav-sx a {
  text-decoration: none;
  color: #b3b3b3;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.nav-sx a:hover {
  color: #fff;
}
.icon-nav {
  display: flex;
  align-items: center;
  position: relative;
}
.icon-nav svg {
  color: #fff;
  margin: 0 20px;
}
.icon-nav a:focus {
  color: #fff;
}
.icon-nav a:focus::after {
  content: "";
  display: inline;
  position: absolute;
  width: 4px;
  height: 30px;
  background-color: #1ed760;
  left: 0;
  top: 0;
}
.title-nav {
  text-transform: uppercase;
  color: #b3b3b3;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-bottom: 15px;
}
.text-nav {
  color: #b3b3b3;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 5px;
}
.boxtext-nav p:hover {
  color: #fff;
}
.log-in {
  margin-left: -24px;
}
.log-in ul {
  list-style: none;
}
.log-in li {
  display: block;
  padding: 10px 0;
}
.log-in a {
  text-decoration: none;
  color: #b3b3b3;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.log-in .icon-nav a[href^="https"]:hover {
  color: #1ed760;
}
hr {
  margin: 0 24px;
}


/* Main view container -------------------------------------------------------*/
.nav-smart {
  display: none;
}
.nav {
  display: flex;
  justify-content: center;
  position: relative;
}
.nav ul {
  list-style: none;
}
.nav li {
  display: inline-block;
  position: relative;
}
.nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #b3b3b3;
  font-family: 'Roboto', sans-serif;
  font-size: 12.5px;
  font-weight: 600;
  padding: 0 20px;
  letter-spacing: 2px;
}
.nav a:focus{
  color: #fff;
}
.nav a:focus::after {
  content: "";
  height: 2px;
  background-color: #1db954;
  width: 30px;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -15px;
  margin-bottom: -2px;
}
.title-main {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -.005em;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #fff;
  margin: 24px 0;
}
.cover {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Playing-bar ---------------------------------------------------------------*/


/* REGOLE RESPONSIVE ---------------------------------------------------------*/


/* Visualizzazione da 1199.98px in giu) */
@media screen and (max-width: 1199.98px) {
  /* Nav-bar sx */
  #nav-bar {
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
  }
  .nav-sx, .log-in {
    margin-left: 0;
  }
  #nav-bar .nav-header img:last-child {
    display: none;
  }
  #nav-bar .icon-nav a {
    display: none;
  }
  #nav-bar .boxtext-nav {
    display: none;
  }

  /* Main view container */
  #main-view .nav {
    display: none;
  }
  .nav-smart {
    display: flex;
    justify-content: flex-end;
  }
  #top, #middle, #bottom {
		fill:none;
		stroke:#fff;
		stroke-width:6;
		stroke-linecap:round;
		stroke-opacity:1;
		stroke-dasharray:none
	}

}

/* Visualizzazione da 768px in giu) */
@media screen and (max-width: 768px) {
  /* Nav-bar sx */
  #nav-bar {
    width: 115px;
  }
  /* Main view container */
  #main-view {
    width: calc(100% - 115px);
  }
}

/* Visualizzazione da 576px in giu) */
@media screen and (max-width: 576px) {
  /* Nav-bar sx */
  #nav-bar {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 998;
    background-color: rgba(0,0,0,.9);
    flex-direction: row;
    justify-content: space-around;
  }
  .nav-sx li {
    display: inline-block;
  }
  .log-in hr {
    display: none;
  }
  .log-in svg {
    display: none;
  }
  .icon-nav svg {
    margin: 0 15px;
  }

  /* Main view container */
  #main-view {
    height: 100%;
    width: 100%;
    padding: 110px 35px;
  }
}

/* Visualizzazione da 301px in giu) */
@media screen and (max-width: 301px) {
  /* Nav-bar sx */
  #nav-bar .nav-sx {
    display: none;
  }
  .nav-header{
    justify-content: flex-start;
  }
}
